.attach{
    display:flex;
    color:white;
    flex-direction: column;
    align-items: center;
}
.attach .ContractInfo{
    width:40vw;
    text-align:left;
}
.attach button {
    width:20vw;
    margin:5% 0 5% 0;
    text-decoration: none;
    color: var(--text-primary);
    border:0px solid black;
    border-radius: 0.4em;
    background: var(--tertiary-color);
    padding: 10px 40px;
    font-size:var(--font2-size);
    transition: all 0.2s ease-in-out;
}
.attach button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--tertiary-color);
}
.accept-term{
    display:flex;
    color:white;
    flex-direction: column;
    align-items: center;
}

.accept-term button {
    width:20vw;
    margin:5% 0 5% 0;
    text-decoration: none;
    color: var(--text-primary);
    border:0px solid black;
    border-radius: 0.4em;
    background: var(--tertiary-color);
    padding: 10px 40px;
    font-size:var(--font2-size);
    transition: all 0.2s ease-in-out;
}
.accept-term button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--tertiary-color);
}

  
