
.input-holder {
    margin:10% 10% 10% 10%;
    background-color: var(--primary-color);
    border-radius: 1em;
    display:flex;
    flex: 1 1 0px;
    flex-direction:row;

}
.input-column{
    flex-grow: 1;
    flex-basis: 0;
}
.input-form{
    margin: 10% 5% 10% 5%;
}
.input-title {
    margin-top:20%;
    text-align: left;
    color:var(--text-primary);
    font-size: var(--font1-size);
}
.input-description {
    margin-bottom:5%;
    text-align: left;
    color:var(--text-primary);
    font-size: var(--font2-size);
}
.input input{
  text-align: left;
  margin-bottom:5%;
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border:none;
  color:var(--text-primary);
  background-color: var(--fourth-color);
}
.input input:focus{
  border-left:2px solid var(--tertiary-color);	
  box-shadow: 15px 0 15px -15px inset var(--tertiary-color);
  outline:0;
  background-color:var(--fourth-color);	
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #a9a9a9;
}
.input-holder button {
    margin-top:10%;
    text-decoration: none;
    color: var(--text-primary);
    border:0px solid black;
    border-radius: 0.4em;
    background: var(--tertiary-color);
    padding: 10px 40px;
    font-size:var(--font2-size);
    transition: all 0.2s ease-in-out;
}
.input-holder button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--tertiary-color);
}
.wallpaper{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 1em 1em 0;
}

.tooltip {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  /* Tooltip box */
  .tooltip:before {
    content: attr(data-tooltip); 
    position: absolute;
    width: 150px;
    background-color: #062B45;
    color: #fff;
    text-align: center;
    padding: 5px;
    line-height: 1.2;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
    bottom:100%;
    left: 5%;
    margin-left: -20px;
    font-size: 0.75em;
    visibility: hidden;
  }
  
  /* Tooltip arrow */
.tooltip:after {
    content: "";
    position: absolute;
    bottom: 85%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    transition: opacity .6s;
    border-color: #062B45 transparent transparent transparent;
    visibility: hidden;
  }
  
  .tooltip:hover:before, .tooltip:hover:after {
    opacity: 1;
    visibility: visible;
  }